@charset "utf-8";

// customize bulma CSS
@import '@appscode/design-system/vue-components/styles/base/utilities/customize-bulma';

// bulma
@import 'bulma/bulma.sass';
html, body {

    @include fullhd {
        font-size: 16px !important;
    }
    @include widescreen {
        font-size: 14px !important;
    }
    @include desktop {
        font-size: 14px !important;
    }
    @include tablet {
        font-size: 14px !important;
    }
    @include mobile {
        font-size: 14px !important;
    }
}

// // fonts
// @import 'https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp';

// Third Party Styles
@import 'font-awesome/css/font-awesome.min.css';


// BASE
@import '@appscode/design-system/vue-components/styles/base/utilities/all';

// COMPONENTS
// @import '@appscode/design-system/vue-components/styles/components/all';
@import '@appscode/design-system/vue-components/styles/components/navbar/navbar';
@import '@appscode/design-system/vue-components/styles/components/button';
@import '@appscode/design-system/vue-components/styles/components/form-fields/input';

// 404
@import "@appscode/design-system/vue-components/styles/layouts/404";

.container {
    @include touch {
        padding-inline: 16px;
    }
}
.ac-navbar-menu {
    a{
        color: $color-text;
        font-weight: 500;
       
    }
 

    @include touch {
        flex-direction: column;
        position: fixed;
        z-index: 99;
        background-color: $white-100;
        width: calc(100% - 100px);
        height: 100vh;
        top: 0;
        right: -100%;
        transition: 0.3s ease-in-out;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        padding-top: 64px;


        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;

            @include touch {
                position: absolute;
                bottom: 32px;
            }
            .button {
                width: 100%;
                margin-right: 0 !important;
            }
        }
        .has-dropdown {
            width: 100% !important;
            .navbar-dropdown {
                margin-top: 0;
                padding-top: 0;
                padding-left: 16px;
            }
        }
        a , .navbar-link{
            display: block;
            width: 100%;
            padding-inline: 24px !important;
        }
    }

    .navbar-item, .navbar-link.is-active {
        &:hover{
            background-color: transparent;
        }
    }

    .navbar-link:not(.is-arrowless)::after {
        border-color: $color-text;
        border-width: 1px;
    }

    .navbar-dropdown {
        @include touch {
            position: relative;
            z-index: 9;
            &::after{
                position: absolute;
                content: "";
                left: 24px;
                top: 0;
                width: 1px;
                height: calc(100% - 20px);
                background-color: $color-border;

            }
        }
        a.navbar-item {
            padding: 8px 16px;
            font-size: 1rem;
        }
    }
}

